*{
  font-family: 'Crimson Text', serif;
  font-size: 20px;


}

body{
  background: url(../images/hp.jpg); 
  background-size: cover; 
}

#wrapper {
  width: 60vw;
  height: 80vh;
  float: center;
  background: url(../images/1-basic.png);
  color: bisque;
  text-align: center;


}
#subwrapper{
  background-color: brown;
  color: bisque;
  float: center;
  padding: 8px;
}
button{
  padding: 10px;
  margin: 4px;
}
